<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >

<head>
	
	<META http-equiv=Content-Type content="text/html; charset=utf-8">
	
	<title>{meta_title}</title>
	<META name="keywords" content="{meta_kw}" />
	<META name="description" content="{meta_desc}" />

	<link rel="icon" type="image/x-icon" href="{_URL}/templates/{_THEME}/images/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="canonical" href="{_URL}{_URI}" />
	
	<!-- jquery -->
	<script type="text/javascript" src="{_URL}/modules/jquery/jquery-1.12.3.min.js"></script>
	<!---->
	
	<!-- font-awesome -->
	<link rel="stylesheet" href="{_URL}/modules/font-awesome-4.6.1/css/font-awesome.min.css">
	<!---->
	
	<link href="{_URL}/templates/{_THEME}/font/font.css" rel="stylesheet" type="text/css">
	<link href="{_URL}/styles.css" rel="stylesheet" type="text/css" />
	<link href="{_URL}/templates/{_THEME}/css/template.css" rel="stylesheet" type="text/css" />
	<script src="{_URL}/scripts.js"></script>
	
</head>

<body bottommargin="0" topmargin="0" leftmargin="0" rightmargin="0">


