#
fa/codec
fa/data
fa/codec
fa/codec.d
fa/allow.inc
fa/config.php
fa/components/*/*.inc.php
fa/error_log
#
en/data
en/codec
en/codec.d
en/allow.inc
en/config.php
en/components/*/*.inc.php
en/error_log
*.inc.php
