
::-webkit-scrollbar-track {
	background: white;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: #ccc;
	border:3px solid white;
	border-top:20px solid white;
	border-bottom:20px solid white;
}

