

<div class="contact_vw_form">
	
	<div class="path">
		<div>Address  : {contact_address}</div>
		<div>Sales Office : <span dir=ltr >{contact_tell}</div>
		<div>Office Support : <span dir=ltr >{contact_fax}</div>
	</div>

	<form method="post" action="./?page={page}&do=send" id="contact_display" >

	{token_make}

	<fieldset>
		<legend>
		<select name="to">
			<option value="">Connect with ..</option>
			{email_select_option}
		</select>
		</legend>
		<img src="http://parsunix.com/cdn/img/contact.jpg" class="handshaking" />
		<div class="right">
		<input placeholder="Name" type="text" name="name" value="{name}">
		<input placeholder="Cell Number" type="text" class="numeric" name="cell_number" value="{cell_number}">
		<input placeholder="Email Address" type="email" name="email_address" value="{email_address}">
		<textarea placeholder="Message ..." name="content" >{content}</textarea>
		<br>

		{recaptcha}

		<input type="submit" value="Send" class="submit_button"  >
		{map}
		</div>
	</fieldset>
	</form>

</div>











