.project_img_vw{
	width:100%;
	display:inline-block;
	vertical-align:top;
	height:85%;

}
.project_img_vw img{
	width:100%;
	height:100%;
	
}	
.text_project{
	width:100%;
	display:inline-block;
	vertical-align:top;
	direction:rtl;
	
}
.text_project .txt{
	width:95%;
	height:85%;
	overflow:scroll;
	text-align:center;
	border-bottom: none;
	margin-top:-20px;

}
.text_project .sharing .head{
    margin: 20px 0 0px 0;
    color: #808080;
}

@media only screen and (max-width : 630px) {
	.project_img_vw{
	
	height:78%;

}

}