
.product_management_form {
	direction: rtl;
	margin: 40px 0 80px 0; 
	text-align: right;
}
.product_management_form > div {
	width: 49.50%;
	/*background-color: #bbb;*/
	display: inline-block;
	padding: 0px;
	vertical-align: top;
	margin: 10px 0;
}
.product_management_form > div > input ,
.product_management_form > div > select ,
.product_management_form > div > textarea {
	width: 98%;
	vertical-align: top;
	border-radius: 0px;
	font-size: 16px;
}
.product_management_form > div > textarea {
	height: 150px;
}
.product_management_form > textarea {
	width: 98%;
	vertical-align: top;
	border-radius: 0px;
	font-size: 16px;
}
.product_management_form > textarea {
	height: 150px;
}
/*#inDiv_product_management_form_desc {
	width: 100%;
}*/
#product_management_form_name {
	font-size: 16px;
	/*margin: 10px;*/
}
#inDiv_product_management_form_product_icon , 
#inDiv_product_management_form_product_screenshot {
	width: 100%;
	text-align: right;
	padding-right: 50px;
}

#inDiv_product_management_form_submit {
	width: 100%;
	text-align: center;
}

.product_management_form .divider {
	width: 100%;
	margin: 0 0 20px 0;
}

#product_management_form_website ,
#product_management_form_facebook_page ,
#product_management_form_twitter_page ,
#product_management_form_googleplus_page {
	text-align: left;
	direction: ltr;
	font-family: monospace, sans-serif;
}


