
.layout_mg_meta_form {
	direction: rtl;
	padding: 10px 50px;
	text-align: right;
}
.layout_mg_meta_form span {
	padding: 40px 0 10px 0;
	display: inline-block;
}
.layout_mg_meta_form textarea {
	width: 100%;
	height: 118px;
	font-family: monospace, 'Courier new';
	direction: ltr;
	border: 0px;
	box-shadow: 0 0 20px #ddd;
}
.layout_mg_meta_form textarea:hover {
	border: 0px;
}
.layout_mg_meta_form .submit-div {
	text-align: center;
	margin: 40px auto 80px;
}
.layout_mg_meta_form input[type="button"] {
	font-size: 15px;
}