
<div class="clear"></div>

<div id="footer">
	
	<div class="light">
		<div class="top">
			
			<div class="linkbox">
				<div class="head">{tiny_title}</div>
				<div class="links">
					<a href="./blog">blog</a>
					<a href="./about">about {tiny_title}</a>
					<a href="./press">{tiny_title} In the News</a>
					<a href="./learn">{tiny_title} how it works</a>
				</div>
			</div>

			<div class="linkbox">
				<div class="head">Relationship More</div>
				<div class="links">
					<a href="./contact">contact us</a>
					<a href="./agent">Get Agent</a>
					<a href="./business">{tiny_title} For Your Business</a>
				</div>
			</div>

			<div class="linkbox">
				<div class="head">Learn more</div>
				<div class="links">
					<a href="./sitemap.xml">{tiny_title} Site Map</a>
					<a href="./rss/post.xml">{tiny_title} RSS</a>
					<a href="./rss/news.xml">RSS News</a>
				</div>
			</div>

			<div class="linkbox">
				<div class="head">other services</div>
				<div class="links">
					<a href="./support">Contact Support</a>
					<a href="./Customers">Customer service</a>
					<a href="./online-payment">Online Payment Guide</a>
					<a href="./faq">common questions</a>
				</div>
			</div>

		</div>
		
		
	</div>
	
	<div class="dark">
		<div class="right">
			<div class="rights">{html_footer_copyright}</div>
			<div class="links">
				<a href="./terms">Rules and Regulations{tiny_title}</a>
				<a href="./privacy">Privacy policy</a>
			</div>
		</div>
		<div class="left">
			<div class="ft-phone ltr"><span>{contact_tell} , {contact_address}</span></div>
			<ul class="socials">
				<li><a href="https://facebook.com/new.vision.ir" class="scl-icon color-facebook" title="facebook" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
				<li><a href="https://twitter.com/tasvireno" class="scl-icon color-twitter" title="twitter" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
				<li><a href="http://www.linkedin.com/tasvireno" class="scl-icon color-linkedin" title="linkedin" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
				<li><a href="http://instagram.com/tasvireno" class="scl-icon color-instagram" title="instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
				<li><a href="http://telegram.me/tasvirenow" class="scl-icon color-pinterest" title="telegram" target="_blank"><i class="fa fa-paper-plane" aria-hidden="true"></i>
				</li>
				
			</ul>
		</div>
	</div>
</div>

<div class="footer-copyright">
	powered by <a href="http://parsunix.com" target="_blank">parsunix</a>
</div>
