
.sharing {
	width: 100%;
	position: relative;
}
.stash_item_display .socials .sharing * {
	font-family: IRANSans;
}
/* sharing / socials */
.sharing > div {
	margin: 0 10px 20px 10px;
	padding: 0 0 20px 0;
}
.sharing .head {
	margin: 0 0 10px 0;
	color: #808080;
}
.sharing .head .dotline {
	border-bottom: 1px dashed #ddd;
	display: block;
	width: 100%;
	margin-bottom: -10px;
}
.sharing .head .text {
	background-color: #fff;
	line-height: 20px !important;
	display: inline-block;
	padding: 0 10px;
	margin-right: 15px;
}
.sharing .socials .seo_share_link {
	margin-right: 13%;
}
.sharing .socials .seo_share_link > a icon:before {
	display: inline-block;
	font-family: FontAwesome;
	font-size: 24px !important;
	width: 50px;
	height: 40px;
	line-height: 40px !important;
	border-radius: 5px;
	background-color: #959595;
	color: white;
	margin: 5px;
	text-align: center;
	opacity: 0.9;
}
 .sharing .socials .seo_share_link > a.facebook icon:hover:before {
	background-color: #44609D;
}
.sharing .socials .seo_share_link > a.twitter icon:hover:before {
	background-color: #1DA1F2;
}
.sharing .socials .seo_share_link > a.telegram icon:hover:before {
	background-color: #1D87BD;
}
.sharing .socials .seo_share_link > a.instagram icon:hover:before {
	background-color: #bd081c;
}
.sharing .socials .seo_share_link > a.linkedin icon:hover:before {
	background-color: #db4437;
}

.sharing .socials .seo_share_link > a icon:hover:before {
	opacity: 1;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
    /*-ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg); 
    transform: rotate(-3deg);*/
}


#offer_new_item {
	cursor: pointer;
}

#offer_new_item_hitbox {
	text-align: center;
	direction: rtl;
	box-sizing: border-box;
	/* width: 95%; */
	/* margin: auto; */
	/* background-color: #eee; */
}
#offer_new_item_hitbox * {
	box-sizing: border-box;
}

#offer_new_item_hitbox img {
	width: 140px;
	margin: 40px 0 40px 0;
}

#offer_new_item_hitbox span {
	display: block;
	font: normal 14px IRANSans;
	margin: 10px 40px 20px 40px;
}

#offer_new_item_hitbox a {
	display: block;
	margin: 30px 0;
	border: 0px;
	color: white;
}
.p_img_vw2{
    width:40%;
    margin:20px auto;
    background-color:#fff;
    height:190px;
    overflow:height;
}  

@media only screen and (max-width: 600px) {
	.p_img_vw2{
    margin:5px auto;
    height:150px;
   
} 
.sharing .socials .seo_share_link > a icon:before {
	font-size: 20px !important;
	width: 45px;
	height: 40px;

}
}
@media only screen and (max-width: 330px) {
	.p_img_vw2{
    margin:0px auto;
    height:120px;
   
}
.sharing .socials .seo_share_link > a icon:before {
	font-size: 14px !important;
	width: 33px;
	height: 40px;

}
}


