
.layout_mg_layer_form {
	direction: rtl;
	text-align: right;
	padding: 40px 60px;
	margin-top: 20px;
}

.layout_mg_layer_form select ,
.layout_mg_layer_form input[type=text] {
	display: block;
	margin: 0 0 10px 0;
	font-size: 16px !important;
	width: 350px !important;
	border-radius: 4px !important;
	line-height: 32px;
	padding: 10px 20px;
	margin-right: 30px;
}
.layout_mg_layer_form input[type=submit] {
	margin-right: 30px !important;
}

.layout_mg_layer_form div.divider {
	width: 100%;
}