
<div class="headertop">
    <div id="hed">
    <div style="width: 40%;height: 100px;display: inline-block;vertical-align: top">
        <form id="header_search_form" method="post" action="{_URL}/tag">
			<!-- <span class="none"><input  type="submit" class="tasvir_button" name="shearch" value="جستجو"  ></span> -->
			<input rel="{_URL}" type="text" name="q" value="{q}" class="form-control" placeholder="جستجو ..." dir="rtl" >
		</form>
	</div>
    <div class="hed-chap" style="">
        <div style="padding-left: 20px">
		<a href="{_URL}"  ><img class="lang" src="{_URL}/data/language/iran_flag.png" /></a>
		<a href="{_URL}"  ><img class="lang" src="{_URL}/data/language/usa_flag.png" /></a>
		</div>
		<a href="{_URL}" class="logo2" ><img src="{_URL}/{tab__temp('logo')}" /></a>
    </div>
    </div>
<div id="pagewrap">
<nav>
	 <a href="#" >
				            
		<img id="menu-icon" src="{_URL}/data/logo_sidebar/0-1463920388-9752-menu.png" />
							
	</a> 
	<ul id="TopMenu">
		{tasvir_vw_list}
	</ul>
</nav>
</div>
<div id="gift1" class="content"></div>
<div id="brand1" class="content"></div>
<div id="field1" class="content"></div>
</div>	   

</div>			


