
.layout_mg {
	direction: rtl;
	margin-bottom: 80px;
}

.layout_mg > .this {
	background-color: rgba(255,255,255, 0.50);
	margin: 10px 0;
	text-align: right;
	padding: 15px;
	border-radius: 4px;
	transition: all 0.3s;
}
.layout_mg > .this:hover {
	background-color: rgba(255,255,255, 0.75);
}

.layout_mg > .this > * {
	display: inline-block;
	vertical-align: middle;
}

.layout_mg > .this > .the_name {
	min-width: 30%;
}
.layout_mg > .this > .the_name a.name {
	padding: 9px 0;
	display: inline-block;
	padding-right: 10px;
}
.layout_mg > .this > .the_name > .rename_form {
	display: none;
}
.layout_mg > .this > .the_name > .rename_form input[type="text"] ,
.layout_mg > .new input[type="text"] {
	border: 0px;
	box-shadow: 0 0 10px #F1F1F1 !important;
	border-radius: 0 5px 5px 0;
	width: 100px;
	font: normal 12px tahoma;
}
.layout_mg > .this > .the_name > .rename_form input[type="submit"] ,
.layout_mg > .new input[type="submit"] {
	padding: 9.5px 9px !important;
    border: 0px;
    margin: -27px -2px -6px 0 !important;
    border-radius: 5px 0 0 5px !important;
    position: relative; top: -3px;
}
.layout_mg > .this > .the_name .rename_button_container {
	display: inline-block;
}
.layout_mg > .this > .the_name a.rename_button {
	display: none;
    border-radius: 5px;
    padding: 2px 6px 5px 6px;
    background-color: #ECECEC;
    color: #868686;
    font-size: 11px;
    margin-right: 5px;
}
.layout_mg > .this > .the_name a.rename_button:hover {
	color: white;
	background-color: #999;
}
.layout_mg > .this:hover .the_name a.rename_button {
	display: inline-block;
}


.layout_mg > .this > .the_layers {
	min-width: calc( 70% - 90px );
	margin: auto;
}


.layout_mg > .this > .the_meta {
	min-width: 32px;
	vertical-align: middle;
	margin-left: 10px;
}
.layout_mg > .this > .the_meta > icon:before {
	vertical-align: middle;
	content: "\f121";
	font-size: 36px;
    color: rgba(239, 165, 0, 0.3);
}
.layout_mg > .this > .the_meta > icon:hover:before {
	color: rgba(239, 165, 0, 1);
}



.layout_mg > .this > .the_remove_button {
	min-width: 32px;
	vertical-align: middle;
}
.layout_mg > .this > .the_remove_button > icon:before {
	vertical-align: middle;
	content: "\f00d";
	font-size: 40px;
    color: rgba( 255,0,0, 0.3);
}
.layout_mg > .this > .the_remove_button > icon:hover:before {
	color: rgba(255,0,0, 1);	
}



.layout_mg > .new {

}
.layout_mg > .new input[type="submit"] {
	top: 10px;
}



