
.listmaker_showcase {
	margin: 0 10px 10px 10px;
}
.listmaker_showcase .head {
	margin: 0 0 5px 0;
    padding: 20px;
    border-bottom: 1px dashed #d4d4d4;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 14px;
}
.listmaker_showcase > a {
	display: inline-block;
	width: 24.6%;
	height: 260px;
	overflow: hidden;
	vertical-align: top;
	text-align: center;
	position: relative;
	border: 1px solid #ddd;
	box-shadow: 0 0 3px #ddd;
	margin: 2px 0px;
} 
.listmaker_showcase > a:hover {
	text-decoration: none;
}
.listmaker_showcase > a > img {
	max-width: 95%;
}
.listmaker_showcase > a > div.name {
	padding: 12px 0 10px 0;
	font: normal 13px BYekan, tahoma;
	background-color: rgba(255,255,255,0.8);
	width: 100%;
	position: absolute; bottom: 0px; right: 0px;
	text-align: center;
}

