
.faq_mg_form {
	width: 100%;
	direction: rtl;
}

#faq_mg_form_name_1 {
	width: 100%;
	margin: 10px 0;
	font-size: 14px;
	line-height: 24px !important;
}
#faq_mg_form_text_2 {
	width: 100%;
	height: 220px;
	margin: 10px 0;
	font-size: 14px;
	line-height: 24px !important;
}
#faq_mg_form_submit_3 {
	margin: 10px 0;
}

