
<head>

	<script type="text/javascript" src="http://parsunix.com/cdn/js/jquery/jquery-1.7.1.min.js"></script>

	<!-- jtoggle -->
	<link rel="stylesheet" type="text/css" href="jtoggle.css">
	<script type="text/javascript" src="jtoggle.js"></script>
	<!---->

</head>


<form>
<input name="q1" type="jtoggle" name="status1" value="0" />
<input name="q2" type="jtoggle" name="status2" value="1" />
<input name="q3" type="jtoggle" name="status3" value="1" />
<input name="q4" type="jtoggle" name="status4" value="0" />
<br><input type="submit" />
</form>


