#pagewrap nav{
  width: 100%;
  /* margin-bottom:2px !important; */
  /* height: 51px; */
  background-color:#2ecc71;
  margin: 0;
  padding: 0 100px 0px;
  position: relative;
  box-shadow: 0 2px 44px rgba(0,0,0,.09);

 }
.menu > ul {
    display: block;
    width: 100%;
    background-color: #2ecc71;
    box-sizing:border-box;

}

.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}

.menu > ul:after {
    clear: both;
}

.menu > ul > li {
    float:right;
    transition:all 0.3s;
    
     
}

.menu > ul > li > a {
    display: inline-block;
    font: normal 13px IRANSans,B Yekan;
    color: #fff;
    padding: 10px 18px 13px 33px;
}
.menu > ul > li:hover > a{
    color: #2ecc71;
}
.menu > ul > li:hover{
    background-color: #fff;
  /* border-top:.5px solid #2ecc71; */

    
}

.menu > ul > li>a:before {
    font-family: FontAwesome;
    font-size: 18px;
    content:"\f107";
    color: #ffffff;
    margin: 0 0px 0 7px;
    position: relative; 
    top: 4px;
    display: inline-block;
    transition: all 0.5s;
}
.menu > ul > li:hover>a:before {
    transform: rotate(90deg);
    color: #2ecc71;
}
.menu > ul > li > ul {
    display: none;
    width: 100%;
    background: #fff;
    padding: 20px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    border-bottom: 1px solid;
    border-bottom-color: #eee;
    border-bottom-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.3);
}

.tabmenu_rast > ul > li > a:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    content: "\f060";
    font-size: 12px;
    color: #ccc;
    margin: 0 0px 0 3px;
    transition: all 0.3s;
}
.tabmenu_rast > ul > li > a:hover:before{
    color: #A90000;
    transform: rotate(-45deg);
}
.tabmenu_rast > ul > li > a{
  width:100%;
}
.tabmenu_rast > ul > li > a:hover{
  color: #A90000;
}
