#pagewrap nav{
  width: 100%;
  /* margin-bottom:2px !important; */
  /* height: 51px; */
  background-color:#e84e0f;
  margin: 0;
  padding: 0 150px 0px;
  position: relative;
  box-shadow: 0 2px 44px rgba(0,0,0,.09);
  margin-top:12px;
  direction:ltr;

 }
.menu > ul {
    display: block;
    width: 100%;
    background-color: #e84e0f;
    box-sizing:border-box;

}

.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}

.menu > ul:after {
    clear: both;
}

.menu > ul > li {
    float:left;
    transition:all 0.3s;
    
     
}

.menu > ul > li > a {
    display: inline-block;
    font: normal 13px IRANSans,B Yekan;
    color: #fff;
    padding: 10px 25px 13px 40px;
}
.menu > ul > li:hover > a{
    color: #e84e0f;
}
.menu > ul > li:hover{
    background-color: #fff;
  /* border-top:.5px solid #e84e0f; */

    
}

.menu > ul > li>a:after {
    font-family: FontAwesome;
    font-size: 18px;
    content:"\f107";
    color: #ffffff;
    margin: 0 0px 0 7px;
    position: relative; 
    top: 4px;
    display: inline-block;
    transition: all 0.5s;
}
.menu > ul > li:hover>a:after {
    transform: rotate(90deg);
    color: #e84e0f;
}
.menu > ul > li > ul {
    display: none;
    width: 100%;
    background: #fff;
    padding: 20px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    border-bottom: 1px solid;
    border-bottom-color: #eee;
    border-bottom-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.3);
}

.tabmenu_rast > ul > li > a:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    content: "\f061";
    font-size: 12px;
    color: #ccc;
    margin: 0 0px 0 3px;
    transition: all 0.3s;
}
.tabmenu_rast > ul > li > a:hover:before{
    color: #A90000;
    transform: rotate(45deg);
}
.tabmenu_rast > ul > li > a{
  width:100%;
}
.tabmenu_rast > ul > li > a:hover{
  color: #A90000;
}


.menu-container {
    width: 80%;
    margin: 0 auto;
    background: #e9e9e9;
}

.menu-mobile {
    display: none;
    padding:10px 30px 40px 10px;
}

.menu-mobile:after {
    content: "\f0c9 ";
    font-family: FontAwesome;
    font-size: 2.5rem;
    padding: 0;
    float: right;
    position: relative;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
    color:#fefefe;
}
.menu-mobile:hover:after {
    text-shadow:0px 0px 8px  #555;

}
.menu-dropdown-icon:before {
    content: "\f067";
    font-family: "FontAwesome";
    font-size:18px;
    display: none;
    cursor: pointer;
    float: right;
    padding: .6em .5em;
    color: #eee;
    margin-left:-10px;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 959px) {
    
    #pagewrap nav{
        padding: 0;
    }
    .menu-container {
        width: 100%;
    }
    .menu-mobile {
        display: block;
    }
    .menu-dropdown-icon:before {
        display: block;
    }
    .menu > ul {
        display: none;
        border-top:1px solid #0d4826;
    }
    .menu > ul > li {
        width: 100%;
        display: block;
        padding-top:-30px;
        border-top:1px solid #0d4826;
    }
    .menu > ul > li> a {
        width: 100%;
        display: block;
        padding-top:15px;
        margin-right: 10px;
    }
    .menu > ul > li:hover > a{
         color:#A90000;  
    }
    .menu > ul > li:hover{
        background-color: #eee;
         
    }
    .menu > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul.normal-sub {
        width: 100%;
    }
    .menu > ul > li > ul > li {
        float: none;
        width: 100%;
        margin-top: 0px;
    }
    
    .menu .show-on-mobile {
        display: block;
    }
    .menu > ul > li > a:after {
        display:none;
    }  
    .tabmenu_rast > ul > li {
        width:100%;
    }
    .tabmenu_rast > h1{
        display:none;
    }
    .menu > ul > li > ul {
    
    box-shadow: none;
}
}